<div class="container">
  <div class="input-group">
    <div *ngIf="fetching" class="loading-overlay">Loading ...</div>

    <label class="input-group-addon" for="ratingSelector">
      Rating:
    </label>
    <select [(ngModel)]="selectedRating" (change)="fetchData()" class="form-control" id="ratingSelector">
      <option value="A">A</option>
      <option value="AA">2A</option>
      <option value="AAA">3A</option>
      <option value="AAAA">4A</option>
      <option value="AAAAA">5A</option>
      <option value="AAAAAA">6A</option>
      <option value="AE">AE</option>
      <option value="AAE">AAE</option>
      <option value="B">B</option>
      <option value="C">C</option>
      <option value="D">D</option>
    </select>

    <div class="input-group-addon">
      Average: <strong><span id="resultTarget">{{ amountAverage | number }}</span> Kč</strong>
    </div>
  </div>
  <div class="text-muted">
    * Average is for first {{ fetchSize }} loans!
  </div>
</div>
