$borderColor: #d2d2d2;
.input-group{
  display: flex;
  border: 1px $borderColor solid;
  border-radius: 3px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  .form-control{
    flex-grow: 2;
    border: none;
    padding: 0 15px;
    border-left: 1px $borderColor solid;
    border-right: 1px $borderColor solid;
  }

  .input-group-addon{
    padding: 10px 10px;
    background: #f7f7f7;
  }

  .loading-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffffc9;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

.text-muted{
  color: #a5a5a5;
  margin-top: 10px;
  font-style: italic;
}
